/**
 * BONITA theme based on Black theme for reveal.js.
 *
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 35px; // Change for Bonita
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #ff3030; // Change for Bonita
$linkColorHover: #ff0000; // Change for Bonita
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.4em; // Change for Bonita
$heading3Size: 1.2em; // Change for Bonita
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Bonita modification
/* Bonita logo on slides */
body {
 background-image: url("logo_white.png");
 background-size: 276px 80px;
 background-position: left bottom;
 background-repeat: no-repeat;
}

/* Reduce block of text top margin (default 20px) */
$blockMargin: 10px;

/* Paragraphs with left-aligned text */
.reveal section p		{text-align:left;}

/* Images without borders and transparent background */
div.reveal section img	{border-width:0; background-color:transparent; box-shadow:none;}

/* Any element without margins */
.reveal  .no-margin	{margin:0 !important;}
/* Any element including tables without borders */
.reveal  .no-border, table.no-border td	{border-width:0 !important;}
/* Lists without bullets */
.reveal section ul.no-bullet	{list-style-type:none;}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
